@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/* Colours */
$colors: #6dabda, #2b77b1, #c95644, #f6c2a4, #c98b3b, #eea33a, #215A6D;

/*  */
$dark:         #151515;
$darker:       #21211E;
$dark-blue:    #215A6D;
$light-medium: #969696;
$light:        #DFECE6;
$light-blue:   #1f9ad6;
$light-red:    #d70317;
$white:        #FFFFFF;
$red:          #C04848;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
