<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <div class="subscribe">
    <div class="form">
        <input type="text" name="name" id="name" role="name" placeholder="Nome" aria-label="Nome" class="gc sp g-lW" tabindex="0">
        <input type="text" name="email" id="email" role="email" placeholder="Email" aria-label="Email" class="gc sp g-lW" tabindex="1">
        <input type="submit" name="subscribe" id="subscribe" value="Enviar" role="subscribe" class="gc sp g-lW" tabindex="2">
    </div>
  </div>

  {% include sidebar.html %}
  <div class="content container">
    {{content}}
  </div>

 <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
 <script>
   var firebaseRef = new Firebase("https://gdgnewsletter.firebaseio.com/");
   var usersRef = firebaseRef.child("gdgnewsletter");

   function criarJson() {
     var name = document.getElementById("name").value;
     var email = document.getElementById("email").value;

     if (name && email) {
       if (valid(email)) {
        usersRef.push({ name: name, email: email });
       }
     }
   }
   
   function valid(email) {
     var validSubscription = true;

     usersRef.on("value", function(snapshot) {
       snapshot.forEach(function(childSnapshot) {
        // key will be "fred" the first time and "wilma" the second time
        var key = childSnapshot.key();
        // childData will be the actual contents of the child
        var childData = childSnapshot.val();

        if (email == childData.email) {
          validSubscription = false;
          return;
        }
      });
    });

     return validSubscription;
   }

   function subscribe(event) {
     criarJson();
     event.preventDefault();
   }

   var submit = document.getElementById("subscribe");
   submit.addEventListener('click', subscribe);
 </script>
</body>
</html>
